@charset "UTF-8";
* {
  position: relative;
  background-color: #222;
  padding: 0px;
  margin: 0px;
  font-family: 微軟正黑體;
}

h6 {
  user-select: none;
  position: fixed;
  color: #fff;
  bottom: 0%;
}

.block {
  display: inline;
  user-select: none;
  color: #fff;
  font-size: 1.4rem;
  &:before,
  &:after {
    content: "";
    display: block;
    width: 60px;
    height: 15px;
    position: absolute;
    transform: translate(50%, 50%);
  }
  &:after {
    // transform: translate(-50%,-50%)rotate(-45deg);
  }
}

#nowTime {
  color: #ccc;
  position: fixed;
  bottom: 0%;
  left: 6%;
  font-size: .75rem;
}